{% extends "base.html" %}

{% block content %}
    <style>
        .login-center
        {
            height: 100vh;
            background-color: #1c7430;
        }
    </style>
    <div style="top: 30%; position: relative">
    <h1>Login</h1>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Username:<br>
          {{ form.username(cols='80',class_='form-control') }}<br>
          {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

          Password:<br>
          {{ form.password(cols='80',class_='form-control') }}<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

      </p>
      <p><input type="submit" class="btn btn-default" value="Login"></p>
  </form>

    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
{% endblock %}